{% extends 'basedatatable.html.twig' %}

{% block title %}Currencies{% endblock %}

{% block body %}
{{ parent() }}
List of currencies that can be used inside the application.
It is required to use <a href="https://en.wikipedia.org/wiki/ISO_4217" target="_blank">ISO 4217</a> currency codes.

{% if is_granted('ROLE_ADMIN') %}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Currency toolbar">
  <div class="btn-group mr-2" role="group" aria-label="Actions">
    <a href="{{ path('currency_new') }}" class="btn btn-primary">Add currency</a>
  </div>
</div>
{% endif %}

{% if currencies %}
    <table id="datatable" class="table table-striped" data-paging="false">
      <thead>
        <tr>
          <th>ISO 4217 Code</th><th>Name</th><th>ISIN (to USD)</th><th data-orderable="false">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for c in currencies %}
      <tr>
        <td>{{ c.code }}</td>
        <td>{{ c.code|currency_name }}</td>
        <td>
        {% set asset_id = c.isinUsd|asset_from_isin %}
        {% if asset_id > 0 %}
          <a href="{{ path('asset_show', {id: asset_id}) }}">{{ c.isinUsd }}</a>
        {% endif %}
        </td>
        <td>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="#" class="bi-trash" data-op="delete" data-name="{{ c.code|currency_name }}" data-id="{{ path('currency_delete', {id: c.code}) }}" title="Delete"></a>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  {{ parent() }}
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
