{% extends 'basedatatable.html.twig' %}

{% block title %}Currencies{% endblock %}

{% block body %}
<h1>Currencies</h1>
List of currencies that can be used inside the application.
It is required to use <a href="https://en.wikipedia.org/wiki/ISO_4217" target="_blank">ISO 4217</a> currency codes.
{% if currencies %}
    <table id="datatable" class="display" data-paging="false">
      <thead>
        <tr>
          <th>ISO 4217 Code</th><th>Name</th><th></th>
        </tr>
      </thead>
      <tbody>
      {% for c in currencies %}
      <tr>
        <td>{{ c.code }}</td>
        <td>{{ c.code|currency_name }}</td>
        <td>
          <a href="#" class="bi bi-trash" data-op="delete" data-name="{{ c.code|currency_name }}" data-id="{{ path('currency_delete', {id: c.code}) }}"></a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
<br>
{% endif %}
  <a href="{{ path('currency_new') }}" class="btn btn-primary">New currency</a>
{% endblock %}

{% block bodyscripts %}
  {{ parent() }}
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
