<h1>Account Details</h1>

<dl class="row row-cols-auto">
    <dd class="col-sm-2"><div class="fw-bold">Name</div>{{ account.name }}</dd>
    {% if account.number %}
    <dd class="col-sm-2"><div class="fw-bold">Number</div>{{ account.number }}</dd>
    {% endif %}
    <dd class="col-sm-2"><div class="fw-bold">Type</div>{{ account.typename }}</dd>
    {% if balance %}
    <dd class="col-sm-2"><div class="fw-bold">Cash&nbsp;Balance</div>{{ balance | format_currency(account.currency) }}</dd>
    {% endif %}
</dl>

<div class="input-group mb-3">
    <a href="{{ path('account_edit', {id: account.id}) }}" class="btn btn-primary" data-op="edit">Edit Account</a>
    <a href="{{ path('account_list') }}" class="btn btn-secondary" data-op="overview">Overview</a>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="{{ path('account_positions', {id: account.id}) }}" class="nav-link{% if current_page == "positions" %} active{% endif %}">Positions</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('account_trades', {id: account.id}) }}" class="nav-link{% if current_page == "trades" %} active{% endif %}">Trades</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('account_transactions', {id: account.id}) }}" class="nav-link{% if current_page == "transactions" %} active{% endif %}">Transactions</a>
  </li>
</ul>
