<dl class="row">
    <dd class="col-sm"><div class="fw-bold">Name</div>{{ account.name }}</dd>
    {% if account.number %}
    <dd class="col-sm"><div class="fw-bold">Number</div>{{ account.number }}</dd>
    {% endif %}
    {% if balance %}
    <dd class="col-sm"><div class="fw-bold">Cash Balance</div>{{ balance | format_currency(account.currency) }}</dd>
    {% endif %}
</dl>

<div class="input-group mb-3">
    <a href="{{ path('account_edit', {id: account.id}) }}" class="btn btn-primary" data-op="edit">Edit Account</a>
    <a href="{{ path('account_trades', {id: account.id}) }}" class="btn btn-secondary" data-op="trades">Trades</a>
    <a href="{{ path('account_transactions', {id: account.id}) }}" class="btn btn-secondary" data-op="transactions">Transactions</a>
</div>
