<h3>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom  ">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ path('account_list') }}">Accounts</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ account.name }}</li>
    </ol>
</nav>
</h3>

{% import "macros.twig" as macros %}

<dl class="row row-cols-auto">
    {% if account.number %}
    {{ macros.infobox('Number', account.number) }}
    {% endif %}
    {{ macros.infobox('Type', account.typename) }}
    {% if balance %}
    {{ macros.infobox('Cash balance', balance | format_currency(account.currency)) }}
    {% endif %}
</dl>

<div class="input-group mb-3">
    <a href="{{ path('account_edit', {id: account.id}) }}" class="btn btn-primary" data-op="edit">Edit Account</a>
    <a href="{{ path('account_list') }}" class="btn btn-secondary" data-op="overview">Overview</a>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="{{ path('account_positions', {id: account.id}) }}" class="nav-link{% if current_page == "positions" %} active{% endif %}">Positions</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('account_trades', {id: account.id}) }}" class="nav-link{% if current_page == "trades" %} active{% endif %}">Trades</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('account_transactions', {id: account.id}) }}" class="nav-link{% if current_page == "transactions" %} active{% endif %}">Transactions</a>
  </li>
</ul>
