{% extends 'base.html.twig' %}

{% block title %}Account editor{% endblock %}

{% block body %}
{{ parent() }}
{{ form_start(form) }}

<div class="row">
  <div class="col-md-4">{{ form_row(form.name) }}</div>
  <div class="col-md-4">{{ form_row(form.type) }}</div>
  <div class="col-md-4">{{ form_row(form.timezone) }}</div>
  <div class="col-md-4">{{ form_row(form.currency) }}</div>
  <div class="col-md-4">{{ form_row(form.number) }}</div>
  <div class="col-md-4">{{ form_row(form.iban) }}</div>
  <div class="col-md-12">{{ form_row(form.star) }}</div>
</div>

<div>{{ form_errors(form) }}</div>

<div class="input-group mb-3">
{{ form_widget(form.save) }}
{{ form_widget(form.reset) }}
{{ form_widget(form.back) }}
</div>

{{ form_end(form) }}

<script>
$("#account_back").click(function() { history.back(); });
</script>

{% endblock %}
