{% extends 'base.html.twig' %}

{% block title %}Account editor{% endblock %}

{% block body %}
<h1>Account editor</h1>
{{ form_start(form) }}

<div class="row">
  <div class="col-md-6">{{ form_row(form.name) }}</div>
  <div class="col-md-6">{{ form_row(form.number) }}</div>
  <div class="col-md-6">{{ form_row(form.currency) }}</div>
  <div class="col-md-6">{{ form_row(form.timezone) }}</div>
  <div class="col-md-6">{{ form_row(form.star) }}</div>
</div>

<div>{{ form_errors(form) }}</div>

<div class="input-group mb-3">
{{ form_widget(form.save) }}
{{ form_widget(form.reset) }}
</div>

{{ form_end(form) }}
{% endblock %}
