{% extends 'basedatatable.html.twig' %}

{% block title %}Accounts{% endblock %}

{% block body %}
<h1>Accounts</h1>

{% if accounts %}
    <table id="datatable" class="table table-striped" data-paging="false">
      <thead>
        <tr>
          <th>Name</th><th>Number</th><th>Balance</th><th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for a in accounts %}
      <tr>
        <td data-order="{{ a.name }}">{% if a.star %}<span class="bi-star-fill" style="color: orange;"></span> {% endif %} {{ a.name }}</td>
        <td>{{ a.number }}</td>
        <td class="dt-right" data-order="{{ account_balance[a.id] }}">{{ account_balance[a.id] | format_currency(a.currency) }}</td>
        <td>
          <a href="#" class="bi-cart" data-op="positions" title="Positions"></a>&nbsp;
          <a href="{{ path('account_transactions', {id: a.id}) }}" class="bi-cash-coin" data-op="transactions" title="Transactions"></a>&nbsp;
          &nbsp;&nbsp;
          <a href="{{ path('account_edit', {id: a.id}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
          <a href="#" class="bi-trash" data-op="delete" data-name="{{ a.name }}" data-id="{{ path('account_delete', {id: a.id}) }}" title="Delete"></a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
  <br>
{% endif %}
  <a href="{{ path('account_new') }}" class="btn btn-primary">New account</a>
{% endblock %}

{% block bodyscripts %}
  {{ parent() }}
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
