{% extends 'base.html.twig' %}

{% block title %}Register New User{% endblock %}

{% block body %}
    {{ parent() }}

    {{ form_start(registrationForm) }}

    <div class="row">
        <div class="col-md-6">{{ form_row(registrationForm.name) }}</div>
        <div class="col-md-6">{{ form_row(registrationForm.email) }}</div>
        <div class="col-md-6">{{ form_row(registrationForm.username) }}</div>
        <div class="col-md-6">{{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}</div>
        <div class="col-md-6">{{ form_row(registrationForm.currency) }}</div>
    </div>
    <div class="input-group mb-3">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
