{% extends 'base.html.twig' %}
{% import "assets.twig" as assets %}

{% block includes %}
    {{ parent() }}
    {{ assets.datatables() }}
{% endblock %}

{% block title %}Instruments{% endblock %}

{% block body %}
{{ parent() }}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Instrument toolbar">
    <div class="btn-group mr-2" role="group" aria-label="Actions">
        <a href="{{ path('instrument_new') }}" class="btn btn-primary bi-plus-square" title="Create new instrument"> New</a>
    </div>
</div>

{% if instruments %}
    <table id="datatable" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>ISIN</th>
          <th>Underlying</th>
          <th>EUSIPA</th>
          <th>Direction</th>
          <th>Status</th>
          <th>Termination</th>
          <th data-orderable="false">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for inst in instruments %}
      <tr>
        <td><a href="{{ path('instrument_show', {id: inst.id}) }}" class="link-primary">{{ inst.name }}</a></td>
        <td>{{ inst.isin }}</td>
        <td>
          <span class="badge bg-secondary" style="float:right">{{ inst.underlying.symbol }}</span>
          <a href="{{ path('asset_show', {id: inst.underlying.id}) }}" class="link-primary">{{ inst.underlying.name }}</a>
        </td>
        <td>{{ inst.eusipaname }}</td>
        <td>{{ inst.directionname }}</td>
        <td>{{ inst.statusname }}</td>
        <td>{% if inst.terminationDate %} {{ inst.terminationDate|date("Y-m-d") }}{% endif %}</td>
        <td>
          <a href="{{ path('execution_new', {instrument: inst.id, direction: 'open'}) }}" class="bi-cart" data-op="positions" title="Open"></a>&nbsp;
          <a href="{{ path('instrument_edit', {id: inst.id}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
          <a href="#" class="bi-trash" data-op="delete" data-name="{{ inst.name }}" data-id="{{ path('instrument_delete', {id: inst.id}) }}" title="Delete"></a>&nbsp;
          {% if inst.url %}
          <a href="{{ inst.url }}" class="bi-info-circle" target="_blank" title="Instrument information"></a>&nbsp;
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  {{ parent() }}
  <script class="init">
        $(document).ready( function () {
            $('#datatable').DataTable({
              order: [[0, 'asc']],
              stateSave: true,
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
