{% extends 'basedatatable.html.twig' %}

{% block title %}Instruments{% endblock %}

{% block body %}
<h1>Instruments</h1>

{% if instruments %}
    <table id="datatable" class="table table-striped">
      <thead>
        <tr>
          <th>ISIN</th><th>Name</th><th>Underlying</th><th>Class</th><th>Currency</th><th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for inst in instruments %}
      <tr>
        <td>{{ inst.isin }}</td>
        <td>{{ inst.name }}</td>
        <td><a href="{{ path('asset_show', {id: inst.underlying.id}) }}" class="link-primary">{{ inst.underlying.name }}</a></td>
        <td>{{ inst.classname }}</td>
        <td>{{ inst.currency }}</td>
        <td>
          <a href="{{ path('execution_new', {instrument: inst.id, direction: 'buy'}) }}" class="bi-cart" data-op="positions" title="Buy"></a>&nbsp;
          <a href="{{ path('instrument_edit', {id: inst.id}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
          <a href="#" class="bi-trash" data-op="delete" data-name="{{ inst.name }}" data-id="{{ path('instrument_delete', {id: inst.id}) }}" title="Delete"></a>&nbsp;
          {% if inst.url %}
          <a href="{{ inst.url }}" class="bi-info-circle" target="_blank" title="Instrument information"></a>&nbsp;
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
  <br>
{% endif %}
  <a href="{{ path('instrument_new') }}" class="btn btn-primary">New instrument</a>
{% endblock %}

{% block bodyscripts %}
  <script class="init">
        $(document).ready( function () {
            $('#datatable').DataTable({
              "order": [[1, 'asc']]
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
