{% extends 'base.html.twig' %}

{% block title %}Instruments{% endblock %}

{% block body %}
<h1>Instruments</h1>

{% if instruments %}
    <table id="datatable" class="table table-striped">
      <thead>
        <tr>
          <th>ISIN</th><th>Name</th><th>Underlying</th><th>Type</th><th>Currency</th><th></th>
        </tr>
      </thead>
      <tbody>
      {% for inst in instruments %}
      <tr>
        <td>{{ inst.isin }}</td>
        <td>{{ inst.name }}</td>
        <td><a href="{{ app.request.getBaseURL() }}/assets/{{inst.underlying.id}}" class="link-primary">{{ inst.underlying.name }}</a></td>
        <td>{{ inst.typename }}</td>
        <td>{{ inst.currency }}</td>
        <td>
          <a href="#" class="bi bi-trash" data-op="delete" data-name="{{ inst.name }}" data-id="{{ app.request.getBaseURL() }}/instruments/{{ inst.id }}"></a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
  <br>
{% endif %}
  <a href="{{ app.request.getBaseURL() }}/instruments/new" class="btn btn-primary">New instrument</a>
{% endblock %}

{% block bodyscripts %}
<script src="{{ app.request.getBaseURL() }}/js/formtools.js"></script>
{% endblock %}
