{% extends 'basedatatable.html.twig' %}

{% block title %}Instrument: {{ instrument.name }}{% endblock %}

{% block body %}
<h1>Instrument: {{ instrument.name }}</h1>

<dl class="row row-cols-auto">
    <dd class="col-sm-auto"><div class="fw-bold">Underlying</div>
        <span class="badge bg-secondary">{{ instrument.underlying.symbol }}</span>
        <a href="{{ path('asset_show', {id: instrument.underlying.id}) }}">{{ instrument.underlying.name }}</a> ({{ instrument.underlying.isin }})
    </dd>
    {% if instrument.isin %}
    <dd class="col-sm-auto"><div class="fw-bold">ISIN</div>{{ instrument.isin }}</dd>
    {% endif %}
    {% if instrument.issuer %}
    <dd class="col-sm-auto"><div class="fw-bold">Issuer</div>{{ instrument.issuer }}</dd>
    {% endif %}
    <dd class="col-sm-auto"><div class="fw-bold">EUSIPA</div>{{ instrument.eusipaname }}</dd>
    <dd class="col-sm-auto"><div class="fw-bold">Direction</div>{{ instrument.directionname }}</dd>
    <dd class="col-sm-auto"><div class="fw-bold">Status</div>{{ instrument.statusname }}</dd>
    {% if instrument.ratio %}
    <dd class="col-sm-auto"><div class="fw-bold">Ratio</div>{{ instrument.ratio * 100 }}&nbsp;%</dd>
    {% endif %}
    {% if instrument.margin %}
    <dd class="col-sm-auto"><div class="fw-bold">Margin</div>{{ instrument.margin * 100 }}&nbsp;%</dd>
    {% endif %}
    {% if instrument.emissiondate %}
    <dd class="col-sm-auto"><div class="fw-bold">Emission Date</div>{{ instrument.emissiondate | date("Y-m-d") }}</dd>
    {% endif %}
    {% if instrument.terminationdate %}
    <dd class="col-sm-auto">
        <div class="fw-bold">Termination Date</div>
        {{ instrument.terminationdate | date("Y-m-d") }}<br>
        {{ instrument.terminationdate.diff(date("now")).days + 1 }} day(s)
    </dd>
    {% endif %}
    {# TODO use ratio from terms #}
    {% if terms.strike %}
    <dd class="col-sm-auto"><div class="fw-bold">Strike</div>{{ terms.strike | format_currency(instrument.underlying.currency) }}</dd>
    {% endif %}
    {% if terms.knockout %}
    <dd class="col-sm-auto"><div class="fw-bold">Knock-Out</div>{{ terms.knockout | format_currency(instrument.underlying.currency) }}</dd>
    {% endif %}
    {% if terms.cap %}
    <dd class="col-sm-auto"><div class="fw-bold">Cap</div>{{ terms.cap | format_currency(instrument.underlying.currency) }}</dd>
    {% endif %}
    {% if terms.bonuslevel %}
    <dd class="col-sm-auto"><div class="fw-bold">Bonus Level</div>{{ terms.bonuslevel | format_currency(instrument.underlying.currency) }}</dd>
    {% endif %}
    {% if terms.reverselevel %}
    <dd class="col-sm-auto"><div class="fw-bold">Reverse Level</div>{{ terms.reverselevel | format_currency(instrument.underlying.currency) }}</dd>
    {% endif %}
    {% if terms.barrier %}
    <dd class="col-sm-auto"><div class="fw-bold">Barrier</div>{{ terms.barrier | format_currency(instrument.underlying.currency) }}</dd>
    {% endif %}
    {% if terms.financingcosts %}
    <dd class="col-sm-auto"><div class="fw-bold">Financing Costs</div>{{ terms.financingcosts * 100 }}&nbsp;%</dd>
    {% endif %}
    {% if instrument.url %}
    <dd class="col-sm-auto text-truncate"><div class="fw-bold">Information</div><a href="{{ instrument.url }}" target="_blank">{{ instrument.url }}</a></dd>
    {% endif %}
    {% if instrument.notes %}
    <dd class="col-sm-auto"><div class="fw-bold">Notes</div>{{ instrument.notes | nl2br }}</dd>
    {% endif %}
</dl>

<div class="input-group mb-3">
    <a href="{{ path('instrument_edit', {id: instrument.id}) }}" class="btn btn-primary">Edit</a>
    <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'open'}) }}" class="btn btn-success" data-op="positions" title="Open">Open</a>
    <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'close'}) }}" class="btn btn-danger" data-op="positions" title="Close">Close</a>
    <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'dividend'}) }}" class="btn btn-secondary" data-op="positions" title="Dividend">Dividend</a>
</div>

{% if trades %}
<h2>Trade History</h2>
    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Account</th>
            <th>Transaction</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Total</th>
            <th>Costs</th>
            <th data-orderable="false">Notes</th>
            <th data-orderable="false">Actions</th>
        </tr>
        </thead>
        <tbody>
    {% set last_cost_currency = "" %}
    {% for t in trades %}
        {% set last_cost_currency = t.account_currency %}
        <tr>
        <td>{{t.time | date('Y-m-d H:i:s') }}</td>
        <td><a href="{{ path('account_trades', {id: t.account_id}) }}">{{ t.account_name }}</a></td>
        <td>{{t.transaction_id}}<span {% if t.consolidated %}class="badge bg-success" style="float:right"><i class="bi bi-check" title="Consolidated">{% else %}class="badge bg-warning" style="float:right"><i class="bi bi-question" title="Needs consolidation">{% endif %}</i></span></td>
        <td class="dt-right" style="{% if t.direction > 0 %}color: green{% elseif t.direction < 0 %}color: red{% endif %}">
            {% if t.volume %} {{t.volume | number_format(2)}} {% endif %}
            <span style="float:left" class="{% if t.direction > 0 %}bi-box-arrow-in-right{% elseif t.direction < 0 %}bi-box-arrow-right{% else %}bi-cash{% endif %}"></span>
        </td>
        <td class="dt-right" data-order="{{t.price}}">{% if t.price %} {{t.price | format_currency(instrument.currency)}} {% endif %}</td>
        <td class="dt-right" data-order="{{t.total}}">{{t.total | format_currency(instrument.currency)}}</td>
        <td class="dt-right" data-order="{{t.costs}}">{% if t.costs != 0 %}{{t['costs'] | format_currency(t['account_currency'])}}{% endif %}</td>
        <td title="{{t.notes}}">{{t.notes | u.truncate(40, '...')}}</td>
        <td>
            <a href="{{ path('execution_edit', {id: t.transaction}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
            <a href="#" class="bi-trash" data-op="delete" data-name="{{ t.time | date('Y-m-d H:i:s') }}" data-id="{{ path('transaction_delete', {id: t.transaction}) }}" title="Delete"></a>&nbsp;
        </td>
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
        <tr>
        <th colspan="2">Total {{ trades | length }} trades</th>
        <th>Open risk:</th>
        <th class="dt-right">{{total['volume'] | number_format(2) }}</th>
        <th class="dt-right">{{total['price'] | format_currency(instrument.currency)}}</th>
        {% if total['value'] %}
        <th class="dt-right">{{total['value'] | format_currency(instrument.currency)}}</th>
        {% else %}
        <th></th>
        {% endif %}
        <th class="dt-right">{{total['costs'] | format_currency(last_cost_currency)}}</th>
        <th></th>
        <th></th>
        </tr>
        </tfoot>
    </table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  <script class="init">
        $(document).ready( function () {
            $('#datatable').DataTable({
              "order": [[0, 'desc']]
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
