{% extends 'basedatatable.html.twig' %}
{% import "macros.twig" as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('chart.js@3.7', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('moment@2.29', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('chartjs-adapter-moment@1.0', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('hammerjs@2.0', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('chartjs-plugin-zoom@1.2', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chartjs-chart-financial.js') }}" ></script>
{% endblock %}

{% block title %}Instrument: {{ instrument.name }}{% endblock %}

{% block body %}
<h1>Instrument: {{ instrument.name }}</h1>

<dl class="row row-cols-auto">
    <dd class="col-sm-auto"><div class="fw-bold">Underlying</div>
        <a href="{{ path('asset_show', {id: instrument.underlying.id}) }}">{{ instrument.underlying.name }}</a>
        {{ instrument.underlying.symbol | symbol_badge }}
    </dd>
    {% if instrument.isin %}
    {{ macros.infobox('ISIN', instrument.isin) }}
    {% endif %}
    {% if instrument.issuer %}
    {{ macros.infobox('Issuer', instrument.issuer) }}
    {% endif %}
    {{ macros.infobox('EUSIPA', instrument.eusipaname) }}
    {{ macros.infobox('Direction', instrument.directionname) }}
    {{ macros.infobox('Status', instrument.statusname) }}
    {% if terms and terms.ratio %}
    {{ macros.infobox('Ratio', terms.ratio | format_percent_number) }}
    {% endif %}
    {% if terms and terms.margin %}
    {{ macros.infobox('Margin', terms.margin | format_percent_number) }}
    {% endif %}
    {% if instrument.emissiondate %}
    {{ macros.infobox('Emission date', instrument.emissiondate | date("Y-m-d")) }}
    {% endif %}
    {% if instrument.terminationdate %}
    <dd class="col-sm-auto">
        <div class="fw-bold">Termination Date</div>
        {{ instrument.terminationdate | date("Y-m-d") }}<br>
        {{ instrument.terminationdate.diff(date("now")).days + 1 }} day(s)
    </dd>
    {% endif %}
    {% if terms and terms.strike %}
    {{ macros.infobox('Strike', terms.strike | format_currency(instrument.underlying.currency)) }}
    {% endif %}
    {% if terms and terms.barrier %}
    {{ macros.infobox('Barrier', terms.barrier | format_currency(instrument.underlying.currency)) }}
    {% endif %}
    {% if terms and terms.cap %}
    {{ macros.infobox('Cap', terms.cap | format_currency(instrument.underlying.currency)) }}
    {% endif %}
    {% if terms and terms.bonuslevel %}
    {{ macros.infobox('Bonus level', terms.bonuslevel | format_currency(instrument.underlying.currency)) }}
    {% endif %}
    {% if terms and terms.reverselevel %}
    {{ macros.infobox('Reverse level', terms.reverselevel | format_currency(instrument.underlying.currency)) }}
    {% endif %}
    {% if terms and terms.interestrate %}
    {{ macros.infobox('Interest rate', terms.interestrate | format_percent_number({fraction_digit: 1})) }}
    {% endif %}
    {% if price %}
    <dd class="col-sm-auto"><div class="fw-bold">Last price</div>
        {{ price.close | format_currency(instrument.currency) }} <small>({{ price.date | date("Y-m-d") }})</small>
    </dd>
    {% endif %}
    {% if instrument.url %}
    {{ macros.infoboxraw('Information', '<a href="' ~ instrument.url ~ '" target="_blank">' ~ instrument.url ~ '</a>', 'col-sm-auto text-truncate') }}
    {% endif %}
    {% if instrument.notes %}
    {{ macros.infoboxraw('Notes', instrument.notes | nl2br) }}
    {% endif %}
</dl>

<div class="btn-toolbar mb-3" role="toolbar" aria-label="Instrument toolbar">
    <div class="btn-group mr-2" role="group" aria-label="Actions">
        <a href="{{ path('instrument_edit', {id: instrument.id}) }}" class="btn btn-primary">Edit</a>
        {% if instrument.hasTerms %}
        <a href="{{ path('instrument_terms', {id: instrument.id}) }}" class="btn btn-primary">Terms</a>
        {% endif %}
        <a href="{{ path('asset_update_prices', {id: instrument.underlying.id, instrument: instrument.id}) }}" class="btn btn-secondary">Update prices</a>
    </div>
    &ensp;
    <div class="btn-group" role="group" aria-label="Trades">
        <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'open'}) }}" class="btn btn-success" data-op="positions" title="Open">Open</a>
        <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'close'}) }}" class="btn btn-danger" data-op="positions" title="Close">Close</a>
        <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'dividend'}) }}" class="btn btn-secondary" data-op="positions" title="Dividend">Dividend</a>
    </div>
</div>

{% if chartdatefrom %}
<h2>Chart</h2>
<div class="row">
    <div class="col-12">
        <canvas id="price_chart" height="240px"></canvas>
    </div>
</div>

<script>
const chart_options = {
    maintainAspectRatio: false,
    plugins: {
      zoom: {
        pan: { enabled: true },
        zoom: {
          wheel: { enabled: true },
          pinch: { enabled: true },
          mode: 'xy',
        },
        limits: {
            y: { min:0}
        }
      }
    }
};
fetch('{{ path('chart_instrument_price', {id: instrument.id, from: chartdatefrom | date("Ymd")}) }}', {credentials: 'omit'}).then(data => data.json()).then(price_data => {
    var ctx = document.getElementById('price_chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'candlestick',
        data: {
            datasets: [{
                label: 'Price',
                data: price_data
            }]
        },
        options: chart_options
    });
});
</script>
{% endif %}

{% if trades %}
<h2>Trade History</h2>
    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Account</th>
            <th>Transaction</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Total</th>
            <th>Costs</th>
            <th data-orderable="false">Notes</th>
            <th data-orderable="false">Actions</th>
        </tr>
        </thead>
        <tbody>
    {% set last_cost_currency = "" %}
    {% for t in trades %}
        {% set last_cost_currency = t.account_currency %}
        <tr>
        <td>{{t.time | date('Y-m-d H:i:s') }}</td>
        <td><a href="{{ path('account_trades', {id: t.account_id}) }}">{{ t.account_name }}</a></td>
        <td>{{t.transaction_id}}<span {% if t.consolidated %}class="badge bg-success" style="float:right"><i class="bi bi-check" title="Consolidated">{% else %}class="badge bg-warning" style="float:right"><i class="bi bi-question" title="Needs consolidation">{% endif %}</i></span></td>
        <td class="dt-right" style="{% if t.direction > 0 %}color: green{% elseif t.direction < 0 %}color: red{% endif %}">
            {% if t.volume %} {{t.volume | number_format(2)}} {% endif %}
            <span style="float:left" class="{% if t.direction > 0 %}bi-box-arrow-in-right{% elseif t.direction < 0 %}bi-box-arrow-right{% else %}bi-cash{% endif %}"></span>
        </td>
        <td class="dt-right" data-order="{{t.price}}">{% if t.price %} {{t.price | format_currency(instrument.currency)}} {% endif %}</td>
        <td class="dt-right" data-order="{{t.total}}">{{t.total | format_currency(instrument.currency)}}</td>
        <td class="dt-right" data-order="{{t.costs}}">{% if t.costs != 0 %}{{t['costs'] | format_currency(t['account_currency'])}}{% endif %}</td>
        <td title="{{t.notes}}">{{t.notes | u.truncate(40, '...')}}</td>
        <td>
            <a href="{{ path('execution_edit', {id: t.transaction}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
            <a href="#" class="bi-trash" data-op="delete" data-name="{{ t.time | date('Y-m-d H:i:s') }}" data-id="{{ path('transaction_delete', {id: t.transaction}) }}" title="Delete"></a>&nbsp;
        </td>
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
        <tr>
        <th colspan="2">Total {{ trades | length }} trades</th>
        <th>Open risk:</th>
        <th class="dt-right">{{total['volume'] | number_format(2) }}</th>
        <th class="dt-right">{{total['price'] | format_currency(instrument.currency)}}</th>
        {% if total['value'] %}
        <th class="dt-right">{{total['value'] | format_currency(instrument.currency)}}</th>
        {% else %}
        <th></th>
        {% endif %}
        <th class="dt-right">{{total['costs'] | format_currency(last_cost_currency)}}</th>
        <th></th>
        <th></th>
        </tr>
        </tfoot>
    </table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  <script class="init">
        $(document).ready( function () {
            $('#datatable').DataTable({
              "order": [[0, 'desc']]
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
