{% extends 'basedatatable.html.twig' %}

{% block title %}Instrument {{ instrument.name }}{% endblock %}

{% block body %}
<h1>Instrument {{ instrument.name }}</h1>

<div class="input-group mb-3">
    <a href="{{ path('instrument_edit', {id: instrument.id}) }}" class="btn btn-primary">Edit</a>
    <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'open'}) }}" class="btn btn-success" data-op="positions" title="Open">Open</a>
    <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'close'}) }}" class="btn btn-danger" data-op="positions" title="Close">Close</a>
    <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'dividend'}) }}" class="btn btn-secondary" data-op="positions" title="Dividend">Dividend</a>
</div>

<h2>General Information</h2>
<table class="table">
<tbody>
    <tr><th>ISIN</th><td>{{ instrument.isin }}</td></tr>
    <tr><th>Underlying</th><td><span class="badge bg-secondary">{{ instrument.underlying.symbol }}</span> {{ instrument.underlying.name }}</td></tr>
    <tr><th>Class</th><td>{{ instrument.classname }}</td></tr>
    <tr><th>Status</th><td>{{ instrument.statusname }}</td></tr>
    <tr><th>Issuer</th><td>{{ instrument.issuer }}</td></tr>
    <tr><th>Ratio</th><td>{{ instrument.ratio }}</td></tr>
    <tr><th>Emission Date</th><td>{% if instrument.emissiondate %}{{ instrument.emissiondate | date("Y-m-d") }}{% else %}N/A{% endif %}</td></tr>
    <tr><th>Termination Date</th><td>{% if instrument.terminationdate %}{{ instrument.terminationdate | date("Y-m-d") }}{% else %}N/A{% endif %}</td></tr>
    <tr><th>Information</th><td>{% if instrument.url %}<a href="{{ instrument.url }}" target="_blank">{{ instrument.url }}</a>{% else %}N/A{% endif %}</td></tr>
    <tr><th>Notes</th><td>{{ instrument.notes }}</td></tr>
</tbody>
</table>

{% if trades %}
<h2>Trade History</h2>
    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Account</th>
            <th>External Id</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Total</th>
            <th>Costs</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
    {% for t in trades %}
        <tr>
        <td>{{t['time'] | date('Y-m-d H:i:s') }}</td>
        <td><a href="#">{{t['accountname']}}</a></td>
        <td>{{t['external_id']}}</td>
        <td class="dt-right" style="{% if t['direction'] > 0 %}color: green{% elseif t['direction'] < 0 %}color: red{% endif %}">
            {% if t['volume'] %} {{t['volume'] | number_format(2)}} {% endif %}
            <span style="float:left" class="{% if t['direction'] > 0 %}bi-box-arrow-in-right{% elseif t['direction'] < 0 %}bi-box-arrow-right{% else %}bi-cash{% endif %}"></span>
        </td>
        <td class="dt-right" data-order="{{t['price']}}">{% if t['price'] %} {{t['price'] | format_currency(instrument.currency)}} {% endif %}</td>
        <td class="dt-right" data-order="{{t['total']}}">{{t['total'] | format_currency(instrument.currency)}}</td>
        <td class="dt-right" data-order="{{t['costs']}}">{% if t['costs'] != 0 %}{{t['costs'] | format_currency(instrument.currency)}}{% endif %}</td>
        <td>{{t['notes'] | u.truncate(40, '...')}}</td>
        <td>
            <a href="{{ path('execution_edit', {id: t['transaction']}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
            <a href="#" class="bi-trash" data-op="delete" data-name="{{ t['time'] | date('Y-m-d H:i:s') }}" data-id="{{ path('transaction_delete', {id: t['transaction']}) }}" title="Delete"></a>&nbsp;
        </td>
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
        <tr>
        <th colspan="3">Total {{ trades | length }} trades</th>
        <th class="dt-right">{{total['volume'] | number_format(2) }}</th>
        <th class="dt-right"></th>
        <th class="dt-right">{{total['value'] | format_currency(instrument.currency)}}</th>
        <th class="dt-right">{{total['costs'] | format_currency(instrument.currency)}}</th>
        <th class="dt-right"></th>
        <th class="dt-right"></th>
        </tr>
        </tfoot>
    </table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  <script class="init">
        $(document).ready( function () {
            $('#datatable').DataTable({
              "order": [[0, 'desc']]
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
