{% extends 'basedatatable.html.twig' %}
{% import "macros.twig" as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('chart.js@3.9', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('hammerjs@2.0', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('date-fns', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('chartjs-adapter-date-fns', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chartjs-plugin-zoom.min.js') }}"></script>
    <style>
        .breadcrumb {
        font-size: 24px;
        }
    </style>
{% endblock %}

{% block title %}Instrument: {{ instrument.name }}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom  ">
        <li class="breadcrumb-item">
            {{ instrument.underlying.symbol | symbol_badge }}
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ path('asset_show', {id: instrument.underlying.id}) }}">
                {{ instrument.underlying.name }}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ instrument.name }}</li>
    </ol>
</nav>

<dl class="row row-cols-auto">
    {% if instrument.isin %}
    {{ macros.infobox('ISIN', instrument.isin) }}
    {% endif %}
    {% if instrument.issuer %}
    {{ macros.infobox('Issuer', instrument.issuer) }}
    {% endif %}
    {{ macros.infobox('EUSIPA', instrument.eusipaname) }}
    {{ macros.infobox('Direction', instrument.directionname) }}
    {{ macros.infobox('Status', instrument.statusname) }}
    {% if terms and terms.ratio %}
    {{ macros.infobox('Ratio', terms.ratio | format_percent_number) }}
    {% endif %}
    {% if terms and terms.margin %}
    {{ macros.infobox('Margin', terms.margin | format_percent_number) }}
    {% endif %}
    {% if instrument.emissiondate %}
    {{ macros.infobox('Emission date', instrument.emissiondate | date("Y-m-d")) }}
    {% endif %}
    {% if instrument.terminationdate %}
    <dd class="col-sm-auto">
        <div class="fw-bold">Termination Date</div>
        {{ instrument.terminationdate | date("Y-m-d") }}<br>
        {{ instrument.terminationdate.diff(date("now")).days + 1 }} day(s)
    </dd>
    {% endif %}
    {% if terms and terms.strike %}
    {{ macros.infobox('Strike', terms.strike | format_currency(instrument.underlying.currency)) }}
    {% endif %}
    {% if terms and terms.barrier %}
    {{ macros.infobox('Barrier', terms.barrier | format_currency(instrument.underlying.currency)) }}
    {% endif %}
    {% if terms and terms.cap %}
    {{ macros.infobox('Cap', terms.cap | format_currency(instrument.underlying.currency)) }}
    {% endif %}
    {% if terms and terms.bonuslevel %}
    {{ macros.infobox('Bonus level', terms.bonuslevel | format_currency(instrument.underlying.currency)) }}
    {% endif %}
    {% if terms and terms.reverselevel %}
    {{ macros.infobox('Reverse level', terms.reverselevel | format_currency(instrument.underlying.currency)) }}
    {% endif %}
    {% if terms and terms.interestrate %}
    {{ macros.infobox('Interest rate', terms.interestrate | format_percent_number({fraction_digit: 1})) }}
    {% endif %}
    {% if leverage and leverage != 1 %}
    {{ macros.infobox('Leverage', leverage | number_format(2)) }}
    {% endif %}
    {% if price %}
    <dd class="col-sm-auto"><div class="fw-bold">Last price</div>
        {{ price.close | format_currency(instrument.currency) }} <small>({{ price.date | date("Y-m-d") }})</small>
    </dd>
    {% endif %}
    {% if instrument.url %}
    {{ macros.infoboxraw('Information', '<a href="' ~ instrument.url ~ '" target="_blank">' ~ instrument.url ~ '</a>', 'col-sm-auto text-truncate') }}
    {% endif %}
    {% if instrument.notes %}
    {{ macros.infoboxraw('Notes', instrument.notes | markdown_to_html ) }}
    {% endif %}
</dl>

<div class="btn-toolbar mb-3" role="toolbar" aria-label="Instrument toolbar">
    <div class="btn-group me-2" role="group" aria-label="Actions">
    <div class="input-group-text">Instrument</div>
        <a href="{{ path('instrument_edit', {id: instrument.id}) }}" class="btn btn-primary bi-pencil-square" title="Edit asset"> Edit</a>
        {% if instrument.hasTerms %}
        <a href="{{ path('instrument_terms', {id: instrument.id}) }}" class="btn btn-primary bi-card-list" title="Edit terms"> Terms</a>
        {% endif %}
        <a href="{{ path('asset_update_prices', {id: instrument.underlying.id, instrument: instrument.id}) }}" class="btn btn-secondary bi-arrow-clockwise" title="Update prices"> Prices</a>
    </div>
    <div class="btn-group me-2" role="group" aria-label="Trades">
        <div class="input-group-text">Trade</div>
        <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'open'}) }}" class="btn btn-success bi-box-arrow-in-right" data-op="positions" title="Create opening trade"> Open</a>
        <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'close'}) }}" class="btn btn-danger bi-box-arrow-in-left" data-op="positions" title="Create closing trade"> Close</a>
        <a href="{{ path('execution_new', {instrument: instrument.id, direction: 'dividend'}) }}" class="btn btn-info bi-cash" data-op="positions" title="Create dividend payment"> Dividend</a>
    </div>
</div>

<h2>Chart</h2>
<div class="row">
    <div class="col-12">
        <canvas id="price_chart" height="240px"></canvas>
    </div>
</div>

<script>
const chart_options = {
    maintainAspectRatio: false,
    scales: {
        x: {type: 'time', distribution: 'linear', time: {unit: 'day'}}
    },
    plugins: {
      zoom: {
        pan: { enabled: true },
        zoom: {
          wheel: { enabled: true },
          pinch: { enabled: true },
          mode: 'xy',
        },
        limits: {
            y: { min:0}
        }
      }
    }
};
{% if chart_open %}
    const data_open = {
        label: 'Open',
        type: 'scatter',
        borderColor: 'white',
        backgroundColor: 'green',
        radius: 7,
        borderWidth: 2,
        pointStyle: 'triangle',
        order: 1,
        data: {{ chart_open | json_encode | raw }}
    }
{% endif %}

{% if chart_close %}
    const data_close = {
        label: 'Close',
        type: 'scatter',
        borderColor: 'white',
        backgroundColor: 'red',
        radius: 7,
        borderWidth: 2,
        pointRotation: 180,
        pointStyle: 'triangle',
        order: 2,
        data: {{ chart_close | json_encode | raw }}
    }
{% endif %}

{% if chart_average %}
    const data_average = {
        label: 'Avg. price',
        type: 'line',
        borderColor: 'orange',
        backgroundColor: 'orange',
        borderWidth: 1,
        order: 3,
        radius: 0,
        data: {{ chart_average | json_encode | raw }}
    }
{% endif %}

var url = '{{ path('chart_instrument_price', {id: instrument.id, from: chartdatefrom | date("Ymd"), type: 'close'}) | raw }}';
fetch(url, {credentials: 'omit'})
    .then(data => data.json())
    .then(price_data => {
        var ctx = document.getElementById('price_chart').getContext('2d');
        var datasets = [{
                    label: 'Price',
                    order: 4,
                    borderColor: 'blue',
                    borderWidth: 1,
                    backgroundColor: 'white',
                    radius: 0,
                    data: price_data
                },
        {% if chart_open %}data_open,{% endif %}
        {% if chart_close %}data_close,{% endif %}
        {% if chart_average %}data_average,{% endif %}
                ]
        var myChart = new Chart(ctx, {
            type: 'line',
            data: { datasets: datasets },
            options: chart_options
        });
    });
</script>

{% if trades %}
<h2>Trade History</h2>
    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Account</th>
            <th>Type/Volume</th>
            <th>Price</th>
            <th>Total</th>
            <th>Costs</th>
            <th data-orderable="false">Notes</th>
            <th>Status</th>
            <th data-orderable="false">Actions</th>
        </tr>
        </thead>
        <tbody>
    {% set last_cost_currency = "" %}
    {% for t in trades %}
        {% set last_cost_currency = t.account_currency %}
        <tr>
        <td data-order="{{t.time | date('Y-m-d H:i:s') }}">{{t.time | date('Y-m-d H:i') }}</td>
        <td><a href="{{ path('account_trades', {id: t.account_id}) }}">{{ t.account_name }}</a></td>
        <td class="dt-right" style="{% if t.direction > 0 %}color: green{% elseif t.direction < 0 %}color: red{% endif %}">
            {% if t.volume %} {{t.volume | number_format(2)}} {% endif %}
            <span style="float:left" class="{% if t.direction > 0 %}bi-box-arrow-in-right{% elseif t.direction < 0 %}bi-box-arrow-right{% else %}bi-cash{% endif %}"></span>
        </td>
        <td class="dt-right" data-order="{{t.price}}">{% if t.price %} {{t.price | format_currency(t.currency)}} {% endif %}</td>
        <td class="dt-right" data-order="{{t.total}}">{{t.total | format_currency(instrument.currency)}}</td>
        <td class="dt-right" data-order="{{t.costs}}">{% if t.costs != 0 %}{{t['costs'] | format_currency(t['account_currency'])}}{% endif %}</td>
        <td title="{{t.notes}}">{{t.notes | u.truncate(40, '...')}}</td>
        <td data-order="{{t.consolidated}}">
        {% if t.consolidated %}
            <span class="badge bg-success"><i class="bi bi-check" title="Consolidated"></i></span>
        {% else %}
            <span class="badge bg-warning"><i class="bi bi-question" title="Needs consolidation"></i></span>
        {% endif %}
        </td>
        <td>
            <a href="{{ path('execution_edit', {id: t.transaction}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
            <a href="#" class="bi-trash" data-op="delete" data-name="{{ t.time | date('Y-m-d H:i:s') }}" data-id="{{ path('transaction_delete', {id: t.transaction}) }}" title="Delete"></a>&nbsp;
        </td>
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
        <tr>
        <th>Total {{ trades | length }} trades</th>
        <th>Open risk:</th>
        <th class="dt-right">{{total['volume'] | number_format(2) }}</th>
        <th class="dt-right">{{total['price'] | format_currency(instrument.currency)}}</th>
        {% if total['value'] %}
        <th class="dt-right">{{total['value'] | format_currency(instrument.currency)}}</th>
        {% else %}
        <th></th>
        {% endif %}
        <th class="dt-right">{{total['costs'] | format_currency(last_cost_currency)}}</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        </tfoot>
    </table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  <script class="init">
        $(document).ready( function () {
            $('#datatable').DataTable({
              order: [[0, 'desc']],
              stateSave: true,
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
