{% extends 'basedatatable.html.twig' %}
{% import "macros.twig" as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('chart.js@3.9', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('hammerjs@2.0', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('date-fns', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('chartjs-adapter-date-fns', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chartjs-plugin-zoom.min.js') }}"></script>
{% endblock %}

{% block title %}Instrument terms: {{ instrument.name }}{% endblock %}

{% block body %}
<h3>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ path('asset_show', {id: instrument.underlying.id}) }}">
                {{ instrument.underlying.name }}
            </a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ path('instrument_show', {id: instrument.id}) }}">
                {{ instrument.name }}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Terms</li>
    </ol>
</nav>
</h3>

<dl class="row row-cols-auto">
    {% if instrument.isin %}
    {{ macros.infobox('ISIN', instrument.isin) }}
    {% endif %}
    {% if instrument.issuer %}
    {{ macros.infobox('Issuer', instrument.issuer) }}
    {% endif %}
    {{ macros.infobox('EUSIPA', instrument.eusipaname) }}
    {{ macros.infobox('Direction', instrument.directionname) }}
    {{ macros.infobox('Status', instrument.statusname) }}
    {% if instrument.url %}
    {{ macros.infoboxraw('Information', '<a href="' ~ instrument.url ~ '" target="_blank">' ~ instrument.url ~ '</a>', 'col-sm-auto text-truncate') }}
    {% endif %}
</dl>

<div class="btn-toolbar mb-3" role="toolbar" aria-label="Instrument terms toolbar">
    <div class="btn-group mr-2" role="group" aria-label="Actions">
        <a href="{{ path('instrument_terms_new', {id: instrument.id}) }}" class="btn btn-primary">New terms</a>
    </div>
</div>

{% if chart_datefrom %}
<h2>Chart</h2>
<div class="row">
    <div class="col-12">
        <canvas id="price_chart" height="240px"></canvas>
    </div>
</div>

<script>
const chart_options = {
    maintainAspectRatio: false,
    scales: {
        x: {type: 'time', distribution: 'linear', time: {unit: 'day'}}
    },
    plugins: {
      zoom: {
        pan: { enabled: true },
        zoom: {
          wheel: { enabled: true },
          pinch: { enabled: true },
          mode: 'xy',
        },
        limits: {
            y: { min:0}
        }
      }
    }
};

fetch('{{ path('chart_asset_price', {id: instrument.underlying.id, from: chart_datefrom | date("Ymd"), type: 'close'}) | raw }}', {credentials: 'omit'})
    .then(data => data.json())
    .then(price_data => {
        const datasets = [
            {
                label: '{{instrument.underlying.symbol}}',
                data: price_data,
                type: 'line',
                borderColor: 'blue',
                borderWidth: 1,
                backgroundColor: 'white',
                radius: 0,
            },
        {% if chart_strike %}
            {
                label: 'Strike',
                type: 'line',
                borderColor: 'red',
                data: {{ chart_strike | json_encode | raw }}
            },
        {% endif %}
        {% if chart_barrier %}
            {
                label: 'Barrier',
                type: 'line',
                borderColor: 'blue',
                data: {{ chart_barrier | json_encode | raw }}
            },
        {% endif %}
        {% if chart_cap %}
            {
                label: 'Cap',
                type: 'line',
                borderColor: 'green',
                data: {{ chart_cap | json_encode | raw }}
            },
        {% endif %}
        {% if chart_bonus %}
            {
                label: 'Bonus level',
                type: 'line',
                borderColor: 'orange',
                data: {{ chart_bonus | json_encode | raw }}
            },
        {% endif %}
        {% if chart_reverse %}
            {
                label: 'Reverse level',
                type: 'line',
                borderColor: 'black',
                data: {{ chart_reverse | json_encode | raw }}
            },
        {% endif %}
        ]

        var ctx = document.getElementById('price_chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'candlestick',
            data: { datasets: datasets },
            options: chart_options
        });
    });
</script>
{% endif %}

{% if terms %}
<table id="datatable" class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        {% if 'ratio' in available_terms %}<th>Ratio</th>{% endif %}
        {% if 'strike' in available_terms %}<th>Strike</th>{% endif %}
        {% if 'cap' in available_terms %}<th>Cap</th>{% endif %}
        {% if 'barrier' in available_terms %}<th>Barrier</th>{% endif %}
        {% if 'bonus_level' in available_terms %}<th>Bonus level</th>{% endif %}
        {% if 'reverse_level' in available_terms %}<th>Reverse level</th>{% endif %}
        {% if 'interest_rate' in available_terms %}<th>Interest</th>{% endif %}
        {% if 'margin' in available_terms %}<th>Margin</th>{% endif %}
        <th data-orderable="false">Actions</th>
    </tr>
    </thead>
    <tbody>
{% for t in terms %}
<tr>
    <td>{{t.date | date('Y-m-d')}}</td>
    {% if 'ratio' in available_terms %}
        {% if t.ratio %}
        <td class="dt-right" data-order="{{t.ratio}}">{{t.ratio | format_percent_number({max_fraction_digit: 1}) }}</td>
        {% else %}
        <td />
        {% endif %}
    {% endif %}
    {% if 'strike' in available_terms %}
        {% if t.strike %}
        <td class="dt-right" data-order="{{t.strike}}">{{t.strike | format_currency(instrument.underlying.currency)}}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    {% if 'cap' in available_terms %}
        {% if t.cap %}
        <td class="dt-right" data-order="{{t.cap}}">{{t.cap | format_currency(instrument.underlying.currency)}}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    {% if 'barrier' in available_terms %}
        {% if t.barrier %}
        <td class="dt-right" data-order="{{t.barrier}}">{{t.barrier | format_currency(instrument.underlying.currency)}}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    {% if 'bonus_level' in available_terms %}
        {% if t.bonuslevel %}
        <td class="dt-right" data-order="{{t.bonuslevel}}">{{t.bonuslevel | format_currency(instrument.underlying.currency)}}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    {% if 'reverse_level' in available_terms %}
        {% if t.reverselevel %}
        <td class="dt-right" data-order="{{t.reverselevel}}">{{t.reverselevel | format_currency(instrument.underlying.currency)}}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    {% if 'interest_rate' in available_terms %}
        {% if t.interestrate %}
        <td class="dt-right" data-order="{{t.interestrate}}">{{t.interestrate | format_percent_number({max_fraction_digit: 2}) }}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    {% if 'margin' in available_terms %}
        {% if t.margin %}
        <td class="dt-right" data-order="{{t.margin}}">{{t.margin | format_percent_number }}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    <td>
        <a href="{{ path('instrument_terms_edit', {id: t.id}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
        <a href="#" class="bi-trash" data-op="delete" data-name="{{ t.date | date('Y-m-d H:i:s') }}" data-id="{{ path('instrument_terms_delete', {id: t.id}) }}" title="Delete"></a>&nbsp;
    </td>
</tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  <script class="init">
        $(document).ready( function () {
            $('#datatable').DataTable({
              "order": [[0, 'desc']]
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
