{% extends 'basedatatable.html.twig' %}
{% import "macros.twig" as macros %}

{% block title %}Instrument terms: {{ instrument.name }}{% endblock %}

{% block body %}
<h1>Instrument terms: {{ instrument.name }}</h1>

<dl class="row row-cols-auto">
    <dd class="col-sm-auto"><div class="fw-bold">Underlying</div>
        <a href="{{ path('asset_show', {id: instrument.underlying.id}) }}">{{ instrument.underlying.name }}</a>
        {{ instrument.underlying.symbol | symbol_badge }}
    </dd>
    {% if instrument.isin %}
    {{ macros.infobox('ISIN', instrument.isin) }}
    {% endif %}
    {% if instrument.issuer %}
    {{ macros.infobox('Issuer', instrument.issuer) }}
    {% endif %}
    {{ macros.infobox('EUSIPA', instrument.eusipaname) }}
    {{ macros.infobox('Direction', instrument.directionname) }}
    {{ macros.infobox('Status', instrument.statusname) }}
    {% if instrument.url %}
    {{ macros.infoboxraw('Information', '<a href="' ~ instrument.url ~ '" target="_blank">' ~ instrument.url ~ '</a>', 'col-sm-auto text-truncate') }}
    {% endif %}
</dl>

<div class="btn-toolbar mb-3" role="toolbar" aria-label="Instrument terms toolbar">
    <div class="btn-group mr-2" role="group" aria-label="Actions">
        <a href="{{ path('instrument_terms_new', {id: instrument.id}) }}" class="btn btn-primary">New terms</a>
        <a href="{{ path('instrument_show', {id: instrument.id}) }}" class="btn btn-secondary">Instrument</a>
    </div>
</div>

{% if terms %}
<table id="datatable" class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Ratio</th>
        {% if fields['strike'] %}<th>Strike</th>{% endif %}
        {% if fields['cap'] %}<th>Cap</th>{% endif %}
        {% if fields['barrier'] %}<th>Barrier</th>{% endif %}
        {% if fields['financing'] %}<th>Financing</th>{% endif %}
        <th data-orderable="false">Actions</th>
    </tr>
    </thead>
    <tbody>
{% for t in terms %}
<tr>
    <td>{{t.date | date('Y-m-d')}}</td>
    {% if t.ratio %}
    <td class="dt-right" data-order="{{t.ratio}}">{{t.ratio | format_percent_number }}</td>
    {% else %}
    <td class="dt-right" data-order="{{instrument.ratio}}">{{instrument.ratio | format_percent_number }}</td>
    {% endif %}
    {% if fields['strike'] %}
        {% if t.strike %}
        <td class="dt-right" data-order="{{t.strike}}">{{t.strike | format_currency(instrument.currency)}}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    {% if fields['cap'] %}
        {% if t.cap %}
        <td class="dt-right" data-order="{{t.cap}}">{{t.cap | format_currency(instrument.currency)}}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    {% if fields['barrier'] %}
        {% if t.barrier %}
        <td class="dt-right" data-order="{{t.barrier}}">{{t.barrier | format_currency(instrument.currency)}}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    {% if fields['financing'] %}
        {% if t.financingcosts %}
        <td class="dt-right" data-order="{{t.financingcosts}}">{{t.financingcosts | format_percent_number({fraction_digit: 1}) }}</td>
        {% else %}<td />{% endif %}
    {% endif %}
    <td>
        <a href="{{ path('instrument_terms_edit', {id: t.id}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
        {# <a href="#" class="bi-trash" data-op="delete" data-name="{{ t.time | date('Y-m-d H:i:s') }}" data-id="{{ path('instrument_terms_delete', {id: t.transaction}) }}" title="Delete"></a>&nbsp; #}
    </td>
</tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  <script class="init">
        $(document).ready( function () {
            $('#datatable').DataTable({
              "order": [[0, 'desc']]
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
