{% extends 'base.html.twig' %}

{% block title %}Administration of countries{% endblock %}

{% block body %}
<h1>Countries</h1>
List of countries that can be used inside the application.
It is suggested to use countries compatible with <a href="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes" target="_blank">ISO 3166-1</a> country codes.

{% if countries %}
    <table id="datatable" class="table table-striped">
      <thead>
        <tr>
          <th>ISO 3166-1 Code</th><th>Name</th><th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for c in countries %}
      <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>
          <a href="{{ app.request.getBaseURL() }}/country/{{ c.id }}" class="btn btn-secondary">Edit</a>
          <a href="#" class="btn btn-danger delete-item" data-name="{{ c.name }}" data-id="{{ app.request.getBaseURL() }}/country/{{ c.id }}">Remove</a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
<br>
{% endif %}
  <a href="{{ app.request.getBaseURL() }}/country/new" class="btn btn-primary">New country</a>
{% endblock %}

{% block bodyscripts %}
<script src="{{ app.request.getBaseURL() }}/js/formtools.js"></script>
{% endblock %}
