{% extends 'base.html.twig' %}

{% block title %}Administration of countries{% endblock %}

{% block body %}
<h1>Countries</h1>
List of countries that can be used inside the application.
It is required to use <a href="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes" target="_blank">ISO 3166-1</a> country codes.

{% if countries %}
    <table id="datatable" class="table table-striped">
      <thead>
        <tr>
          <th>Code</th><th>Name</th><th></th>
        </tr>
      </thead>
      <tbody>
      {% for c in countries %}
      <tr>
        <td>{{ c.code }}</td>
        <td>{{ c.code|country_name }}</td>
        <td>
          <a href="#" class="bi bi-trash" data-op="delete" data-name="{{ c.code|country_name }}" data-id="{{ path('country_delete', {code: c.code}) }}"></a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
<br>
{% endif %}
  <a href="{{ path('country_new') }}" class="btn btn-primary">New country</a>
{% endblock %}

{% block bodyscripts %}
<script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
