{% extends 'basedatatable.html.twig' %}

{% block title %}Administration of countries{% endblock %}

{% block body %}
{{ parent() }}
List of countries that can be used inside the application.
It is required to use <a href="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes" target="_blank">ISO 3166-1</a> country codes.

{% if is_granted('ROLE_ADMIN') %}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Country toolbar">
  <div class="btn-group mr-2" role="group" aria-label="Actions">
    <a href="{{ path('country_new') }}" class="btn btn-primary">Add country</a>
  </div>
</div>
{% endif %}

{% if countries %}
    <table id="datatable" class="table table-striped" data-paging="false">
      <thead>
        <tr>
          <th>Code</th><th>Name</th><th data-orderable="false">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for c in countries %}
      <tr>
        <td>{{ c.code }}</td>
        <td>{{ c.code|country_name }}</td>
        <td>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="#" class="bi-trash" data-op="delete" data-name="{{ c.code|country_name }}" data-id="{{ path('country_delete', {id: c.code}) }}" title="Delete"></a>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  {{ parent() }}
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
