{% extends "basedatatable.html.twig" %}

{% block title %}Portfolio Overview{% endblock %}

{% block body %}
<h1>Portfolio Overview</h1>

{% if positions %}
<table id="datatable" class="table table-striped" data-paging="false">
    <thead>
        <tr>
            <th>Asset</th><th>Instrument</th><th>Type</th><th>Account</th><th>Amount</th><th>Total</th><th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for p in positions %}
    <tr>
    <td><span class="badge bg-secondary">{{ p['assetsymbol'] }}</span> <a href="{{ path('asset_show', {id: p['assetid']}) }}" class="link-primary">{{ p['assetname'] }}</a></td>
    <td>{{ p['instrument'].name }}</td>
    <td>{{ p['instrument'].classname }}</td>
    <td><a href="#{{ p['accountid'] }}">{{ p['accountname'] }}</a></td>
    <td class="dt-right" data-order="{{ p['amount'] }}">{{ p['amount'] | number_format(2) }}</td>
    <td class="dt-right" data-order="{{ p['totalvalue'] }}">{{ p['totalvalue'] | format_currency(p['instrument'].currency) }}</td>
    <td>
          <a href="{{ path('execution_new', {instrument: p['instrument'].id, direction: 'buy'}) }}" class="bi-plus-square" data-op="positions" title="Buy"></a>&nbsp;
          <a href="{{ path('execution_new', {instrument: p['instrument'].id, direction: 'sell'}) }}" class="bi-dash-square" data-op="positions" title="Sell"></a>&nbsp;
    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  {{ parent() }}
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
