{% extends "basedatatable.html.twig" %}

{% block title %}Portfolio Overview{% endblock %}

{% block body %}
<h1>Portfolio Overview</h1>

{% if positions %}
<table id="datatable" class="table table-striped" data-paging="false">
    <thead>
        <tr>
            <th>Asset</th><th>Instrument</th><th>Type</th><th>Termination</th><th>Account</th><th>Units</th><th>Value</th><th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% set last_currency = "" %}
    {% for p in positions %}
    <tr>
    <td>
        <span class="badge bg-secondary" style="float:right">{{ p['assetsymbol'] }}</span>
        <a href="{{ path('asset_show', {id: p['assetid']}) }}" class="link-primary">{{ p['assetname'] }}</a>
    </td>
    <td><a href="{{ path('instrument_show', {id: p['instrument'].id}) }}" class="link-primary">{{ p['instrument'].name }}</a></td>
    <td>{{ p['instrument'].classname }}</td>
    <td>{% if p['instrument'].terminationdate %}{{ p['instrument'].terminationdate | date("Y-m-d") }} {% endif %}</td>
    <td><a href="#{{ p['accountid'] }}">{{ p['accountname'] }}</a></td>
    <td class="dt-right" data-order="{{ p['units'] }}">{{ p['units'] | number_format(2) }}</td>
    <td class="dt-right" data-order="{{ p['totalvalue'] }}">{{ p['totalvalue'] | format_currency(p['instrument'].currency) }}</td>
    <td>
          <a href="{{ path('execution_new', {instrument: p['instrument'].id, direction: 'open'}) }}" class="bi-plus-square" data-op="positions" title="Open"></a>&nbsp;
          <a href="{{ path('execution_new', {instrument: p['instrument'].id, direction: 'close'}) }}" class="bi-dash-square" data-op="positions" title="Close"></a>&nbsp;
    </td>
    </tr>
    {% set last_currency = p['instrument'].currency %}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
    <th colspan="6">Total {{ positions | length }} positions</th>
    <th class="dt-right">{{ total['totalvalue'] | format_currency(last_currency) }}</th> {# TODO: Needs currency conversion / multi currency into a total sum #}
    <th></th>
    </tr>
    </tfoot>
</table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  {{ parent() }}
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
