{% extends "base.html.twig" %}
{% import "assets.twig" as assets %}

{% block includes %}
    {{ parent() }}
    {{ assets.datatables() }}
    {{ assets.flag_icons() }}
{% endblock %}

{% block title %}Portfolio Overview{% endblock %}

{% block body %}
{{ parent() }}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Portfolio toolbar">
    <div class="btn-group mr-2" role="group" aria-label="Actions">
        <a href="{{ path('asset_update_all_prices', {filter: 'portfolio'}) }}" class="btn btn-secondary bi-arrow-clockwise" title="Update portfolio prices"> Prices</a>
    </div>
</div>

{% if positions %}
<table id="datatable" class="table table-striped" data-paging="false">
    <thead>
        <tr>
            <th>Instrument</th>
            <th>Asset</th>
            <th><abbr title="Country">Co.</abbr></th>
            <th>EUSIPA Type</th>
            <th>Termination</th>
            <th>Account</th>
            <th>Units</th>
            <th>Value</th>
            <th><abbr title="Underlying value">Underlying</abbr></th>
            <th data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% set last_currency = "" %}
    {% for p in positions %}
    <tr>
    <td title="{{ p['instrument'].isin }}"><a href="{{ path('instrument_show', {id: p['instrument'].id}) }}" class="link-primary">{{ p['instrument'].name }}</a></td>
    <td>
        <span class="badge bg-secondary" style="float:right">{{ p['asset_symbol'] }}</span>
        <a href="{{ path('asset_show', {id: p['asset_id']}) }}" class="link-primary">{{ p['asset_name'] }}</a>
    </td>
    <td data-order="{{ p['asset_country'] }}" title="{{ p['asset_country'] }}">{{ p['asset_country'] | flag_icon }}</td>
    <td><i class="{% if p['instrument'].direction == 1 %}bi-arrow-up-right{% else %}bi-arrow-down-right{% endif %}"></i>
        {{ p['asset_type'] }} / {{ p['instrument'].eusipaname }}
    </td>
    <td>{% if p['instrument'].terminationdate %}{{ p['instrument'].terminationdate | date("Y-m-d") }} {% endif %}</td>
    <td><a href="{{ path('account_trades', {id: p['account_id']}) }}">{{ p['account_name'] }}</a></td>
    <td data-order="{{ p['units'] }}">{{ p['units'] | number_format(2) }}</td>
    <td data-order="{{ p['value_total'] }}">{{ p['value_total'] | format_currency(p['instrument'].currency) }}</td>
    {% if p['value_underlying'] %}
    <td data-order="{{ p['value_underlying'] }}">{{ p['value_underlying'] | format_currency(p['asset_currency']) }}</td>
    {% else %}
    <td/>
    {% endif %}
    <td>
          <a href="{{ path('execution_new', {instrument: p['instrument'].id, direction: 'open', account: p['account_id']}) }}" class="bi-plus-square" data-op="positions" title="Open"></a>&nbsp;
          <a href="{{ path('execution_new', {instrument: p['instrument'].id, direction: 'close', account: p['account_id']}) }}" class="bi-dash-square" data-op="positions" title="Close"></a>&nbsp;
    </td>
    </tr>
    {% set last_currency = p['instrument'].currency %}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
    <th colspan="7">Total {{ positions | length }} positions</th>
    <th class="dt-right">{{ total['value_total'] | format_currency(last_currency) }}</th> {# TODO: Needs currency conversion / multi currency into a total sum #}
    <th colspan="2"></th>
    </tr>
    </tfoot>
</table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  {{ parent() }}
  <script class="init">
    $(document).ready( function () {
            $('#datatable').DataTable({
              order: [[0, 'desc']],
              stateSave: true,
              columnDefs: [
                    { targets: [6,7,8], className: "dt-body-right" }
                ],
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
