{% extends 'base.html.twig' %}

{% block title %}Asset editor{% endblock %}

{% block body %}
<h1>Asset editor</h1>
{{ form_start(form) }}

<div class="row">
  <div class="col-md-6">{{ form_row(form.name) }}</div>
  <div class="col-md-6">{{ form_row(form.type) }}</div>
  <div class="col-md-6">{{ form_row(form.isin) }}</div>
  <div class="col-md-6">{{ form_row(form.symbol) }}</div>
  <div class="col-md-6">{{ form_row(form.currency) }}</div>
  <div class="col-md-6">{{ form_row(form.country) }}</div>
  <div class="col-md-6">{{ form_row(form.url) }}</div>
  <div class="col-md-6">{{ form_row(form.marketwatch) }}</div>
  <div class="col-12">{{ form_row(form.notes) }}</div>
</div>

<div>{{ form_errors(form) }}</div>

<div class="input-group mb-3">
{{ form_widget(form.save) }}
{{ form_widget(form.reset) }}
</div>

{{ form_end(form) }}
{% endblock %}
