{% extends 'basedatatable.html.twig' %}

{% block title %}Assets{% endblock %}

{% block body %}
{{ parent() }}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Asset toolbar">
    <div class="btn-group mr-2" role="group" aria-label="Actions">
        <a href="{{ path('asset_new') }}" class="btn btn-primary">New asset</a>
        <a href="{{ path('asset_update_all_prices') }}" class="btn btn-secondary">Update prices</a>
    </div>
</div>

{% if assets %}
    <table id="datatable" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>ISIN</th>
          <th>Type</th>
          <th>Country</th>
          <th>Last price</th>
          <th data-orderable="false">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for a in assets %}
      <tr>
        <td><a href="{{ path('asset_show', {id: a.asset.id}) }}">{{ a.asset.name }}</a></td>
        <td>{{ a.asset.symbol | symbol_badge }}</td>
        <td>{{ a.asset.isin }}</td>
        <td>{{ a.asset.typename }}</td>
        <td data-order="{{ a.asset.country }}">{{ a.asset.country | flag_icon }}</td>
        {% if a.price %}
        <td class="dt-right" data-order="{{ a.price.close }}" title="{{a.price.date | date("Y-m-d")}}">{{ a.price.close | format_currency(a.asset.currency) }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
          <a href="{{ path('asset_edit', {id: a.asset.id}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
          <a href="#" class="bi-trash" data-op="delete" data-name="{{ a.asset.name }}" data-id="{{ path('asset_delete', {id: a.asset.id}) }}" title="Delete"></a>&nbsp;
          {% if a.asset.url %}
            <a href="{{ a.asset.url }}" class="bi-info-circle" target="_blank" title="Information"></a>&nbsp;
          {% endif %}
          {% if a.asset.irurl %}
            <a href="{{ a.asset.irurl }}" target="_blank" class="bi-graph-up-arrow" title="Investor Relations"></a>&nbsp;
          {% endif %}
          {% if a.asset.newsurl %}
            <a href="{{ a.asset.newsurl }}" target="_blank" class="bi-newspaper" title="News"></a>&nbsp;
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}

{% block bodyscripts %}
  <script class="init">
        $(document).ready( function () {
            $('#datatable').DataTable({
              order: [[0, 'asc']],
              stateSave: true,
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
