{% extends 'basedatatable.html.twig' %}

{% block title %}Assets{% endblock %}

{% block body %}
<h1>Assets</h1>

{% if assets %}
    <table id="datatable" class="table table-striped">
      <thead>
        <tr>
          <th>ISIN</th><th>Name</th><th>Symbol</th><th>Type</th><th>Country</th><th>Currency</th><th></th>
        </tr>
      </thead>
      <tbody>
      {% for a in assets %}
      <tr>
        <td>{{ a.isin }}</td>
        <td>{{ a.name }}</td>
        <td><span class="badge bg-secondary">{{ a.symbol }}</span></td>
        <td>{{ a.typename }}</td>
        <td>{{ a.country }}</td>
        <td>{{ a.currency }}</td>
        <td>
          <a href="{{ path('asset_edit', {id: a.id}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
          <a href="#" class="bi-trash" data-op="delete" data-name="{{ a.name }}" data-id="{{ path('asset_delete', {id: a.id}) }}" title="Delete"></a>&nbsp;
          {% if a.url %}
          <a href="{{ a.url }}" class="bi-info-circle" target="_blank" title="Asset information"></a>&nbsp;
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
  <br>
{% endif %}
  <a href="{{ path('asset_new') }}" class="btn btn-primary">New asset</a>
{% endblock %}

{% block bodyscripts %}
  <script class="init">
        $(document).ready( function () {
            $('#datatable').DataTable({
              "order": [[1, 'asc']]
            });
        } );
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
