{% extends 'basedatatable.html.twig' %}
{% import "macros.twig" as macros %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('chart.js@3.7', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('hammerjs@2.0', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('moment@2.29', 'jsdelivr') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chartjs-adapter-moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chartjs-chart-financial.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('js/chartjs-plugin-zoom.min.js') }}"></script>
{% endblock %}

{% block title %}Asset: {{ asset.name }}{% endblock %}

{% block body %}
<h1>Asset: {{ asset.name }}</h1>

<dl class="row row-cols-auto">
    {{ macros.infoboxraw('Symbol', asset.symbol | symbol_badge) }}
    {{ macros.infobox('ISIN', asset.isin) }}
    {{ macros.infobox('Type', asset.typename) }}
    {% if asset.country %}
    {{ macros.infoboxraw('Country', asset.country | country_name ~ ' ' ~ asset.country | flag_icon) }}
    {% endif %}
    {% if asset.url or asset.irurl or asset.newsurl %}
    <dd class="col-sm-auto text-truncate"><div class="fw-bold">Links</div>
    {% if asset.url %}
        <a href="{{ asset.url }}" target="_blank" class="bi-info-circle" title="Information"></a>
    {% endif %}
    {% if asset.irurl %}
        <a href="{{ asset.irurl }}" target="_blank" class="bi-graph-up-arrow" title="Investor Relations"></a>
    {% endif %}
    {% if asset.newsurl %}
        <a href="{{ asset.newsurl }}" target="_blank" class="bi-newspaper" title="News"></a>
    {% endif %}
    </dd>
    {% endif %}
    {% if price %}
    <dd class="col-sm-auto"><div class="fw-bold">Last price</div>
        {{ price.close | format_currency(asset.currency) }} <small>({{ price.date | date("Y-m-d") }})</small>
    </dd>
    {% endif %}
    {% if asset.notes %}
    {{ macros.infoboxraw('Notes', asset.notes | nl2br) }}
    {% endif %}
</dl>

<div class="input-group mb-3">
    <a href="{{ path('asset_edit', {id: asset.id}) }}" class="btn btn-primary">Edit</a>
    <a href="{{ path('asset_update_prices', {id: asset.id}) }}" class="btn btn-secondary">Update prices</a>
    <a href="{{ path('instrument_new', {underlying: asset.id}) }}" class="btn btn-secondary" title="Create instrument">Create instrument</a>
</div>

<h2>Chart</h2>
<div class="row">
    <div class="col-12">
        <canvas id="price_chart" height="240px"></canvas>
    </div>
</div>

<script>
const chart_options = {
    maintainAspectRatio: false,
    plugins: {
      zoom: {
        pan: { enabled: true },
        zoom: {
          wheel: { enabled: true },
          pinch: { enabled: true },
          mode: 'xy',
        },
        limits: {
            y: { min:0}
        }
      }
    }
};
fetch('{{ path('chart_asset_price', {id: asset.id, from: chartdatefrom | date("Ymd")}) }}', {credentials: 'omit'}).then(data => data.json()).then(price_data => {
    var ctx = document.getElementById('price_chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'candlestick',
        data: {
            datasets: [{
                label: '{{asset.symbol}}',
                data: price_data
            }]
        },
        options: chart_options
    });
});
</script>

{% if instruments %}
<h2>Instruments</h2>
<table id="datatable" class="table table-striped">
<thead>
    <tr>
        <th>Name</th><th>ISIN</th><th>Type</th><th>Status</th><th>Termination</th><th>Units</th><th>Value</th>
    </tr>
</thead>
<tbody>
{% set totalunits = 0 %}
{% set totalvalue = 0 %}
{% for inst in instruments %}
<tr>
    <td><a href="{{ path('instrument_show', {id: inst[0].id}) }}" class="link-primary">{{ inst[0].name }}</a></td>
    <td>{{ inst[0].isin }}</td>
    <td><i class="{% if inst[0].direction == 1 %}bi-arrow-up-right{% else %}bi-arrow-down-right{% endif %}"></i>
        {{ inst[0].eusipaname }}
    </td>
    <td>{{ inst[0].statusname }}</td>
    <td>{% if inst[0].terminationDate %} {{ inst[0].terminationDate|date("Y-m-d") }}{% endif %}</td>
    <td class="dt-right" data-order="{{ inst.units }}">{% if inst.units %}{{ inst.units | number_format(2) }}{% endif %}</td>
    <td class="dt-right" data-order="{{ inst.totalvalue }}">{% if inst.totalvalue %}{{ inst.totalvalue | format_currency(inst[0].currency) }}{% endif %}</td>
    {% set totalunits = totalunits + inst.units %}
    {% set totalvalue = totalvalue + inst.totalvalue %}
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
<td colspan="5"></td>
<td class="dt-right">{{ totalunits | number_format(2) }}</td>
<td class="dt-right">{{ totalvalue | number_format(2) }}</td>
</tr>
</tfoot>
</table>
{% endif %}

{% endblock %}
