{% extends 'base.html.twig' %}
{% import "assets.twig" as assets %}

{% block includes %}
    {{ parent() }}
    {{ assets.datatables() }}
{% endblock %}

{% block title %}Asset notes/news overview{% endblock %}

{% block body %}
{{ parent() }}

<div class="btn-toolbar mb-3" role="toolbar" aria-label="News toolbar">
  <div class="btn-group mr-2" role="group" aria-label="Actions">
    <a href="{{ path('assetnote_new')}}" class="btn btn-primary bi-file-earmark-text" title="Create new note"> New</a>
  </div>
</div>

{% if notes %}
    <table id="datatable" class="table table-striped" data-paging="false">
      <thead>
        <tr>
          <th>Date</th>
          <th>Asset</th>
          <th>Type</th>
          <th>Title</th>
          <th>Text</th>
          <th data-orderable="false">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for note in notes %}
      <tr>
        <td onclick="showNote({{ note.id }})">{{ note.date | date("Y-m-d") }}</td>
        <td>{% if note.asset %}<span class="badge bg-secondary" style="float:right">{{ note.asset.symbol }}</span><a href="{{ path('asset_show', {id: note.asset.id}) }}" class="link-primary">{{ note.asset.name }}</a>{% endif %}</td>
        <td onclick="showNote({{ note.id }})">{{ note.typename }}</td>
        <td onclick="showNote({{ note.id }})">{{ note.title }}</td>
        <td onclick="showNote({{ note.id }})">{{ note.text | u.truncate(40, '...') }}</td>
        <td>
          <a href="{{ path('assetnote_edit', {id: note.id}) }}" class="bi-pencil-square" data-op="edit" title="Edit"></a>&nbsp;
          <a href="#" class="bi-trash" data-op="delete" data-name="{{ note.title }}" data-id="{{ path('assetnote_delete', {id: note.id}) }}" title="Delete"></a>&nbsp;
      </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% include 'assetnote/dialog.html.twig' %}
{% endif %}
{% endblock %}

{% block bodyscripts %}
  {{ parent() }}
  <script class="init">
    $(document).ready( function () {
      $('#datatable').DataTable({
        order: [[0, 'desc']],
          stateSave: true,
        })
    } )
  </script>
  <script src="{{ asset('js/formtools.js') }}"></script>
{% endblock %}
