{% extends 'basedatatable.html.twig' %}

{% block title %}Analysis{% endblock %}

{% block body %}
{{ parent() }}

<table id="datatable" class="table table-striped">
    <thead>
        <tr>
            <th>Year</th>
            <th>Cash</th>
            <th>Tax</th>
            <th>Interest</th>
            <th>Commission</th>
            <th>Consolidation</th>
        </tr>
    </thead>
</table>

{% endblock %}

{% block bodyscripts %}
    <script class="init">
        const analysis_data = [
{% for row in data %}
            [{{row.year}}, "{{row.cash | format_currency(row.currency)}}", "{{row.tax | format_currency(row.currency)}}", "{{row.interest | format_currency(row.currency)}}", "{{ row.commission  | format_currency(row.currency)}}", "{{ row.consolidation | format_currency(row.currency)}}"],
{% endfor %}
        ]
        
        $(document).ready( function () {
            $('#datatable').DataTable({
                data: analysis_data,
                columnDefs: [
                    { targets: [1,2,3,4,5], type: "num-fmt", className: "dt-body-right" }
                ]
            });
        } );
    </script>
{% endblock %}
