{% extends 'basedatatable.html.twig' %}

{% block title %}Analysis{% endblock %}

{% block body %}
{{ parent() }}

<table id="datatable" class="table table-striped">
    <thead>
        <tr>
            <th>Year</th>
            <th>Cash</th>
            <th>Tax</th>
            <th>Interest</th>
            <th>Commission</th>
            <th>Consolidation</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{row.year}}</td>
            <td class="dt-right" data-order="{{ row.cash }}">{{row.cash | format_currency(row.currency)}}</td>
            <td class="dt-right" data-order="{{ row.tax }}">{{row.tax | format_currency(row.currency)}}</td>
            <td class="dt-right" data-order="{{ row.interest }}">{{row.interest | format_currency(row.currency)}}</td>
            <td class="dt-right" data-order="{{ row.commission }}">{{row.commission | format_currency(row.currency)}}</td>
            <td class="dt-right" data-order="{{ row.consolidation }}">{{row.consolidation | format_currency(row.currency)}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
