<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="{{ asset('manifest.json') }}" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('bootstrap@5.2/dist/css/bootstrap.min.css', 'jsdelivr') }}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset('bootstrap-icons@1.10/font/bootstrap-icons.css', 'jsdelivr') }}">
            <link rel="stylesheet" href="{{ asset('flag-icons@6.6/css/flag-icons.min.css', 'jsdelivr') }}" />
        {% endblock %}

        <script type="text/javascript" src="{{ asset('jquery@3.6', 'jsdelivr') }}"></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {{ include('inc/navbar.html.twig') }}
        {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <div class="container-fluid">
            {% block body %}
            <h1>{{ block('title') }}</h1>
            {% endblock %}
        </div>
        {% block bodyscripts %}{% endblock %}
        {# see https://getbootstrap.com/docs/5.2/getting-started/introduction/ #}
        <script src="{{ asset('bootstrap@5.2/dist/js/bootstrap.bundle.min.js', 'jsdelivr') }}"></script>
    </body>
</html>
