<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="{{ asset('manifest.json') }}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%220.8em%22 fill=%22lightblue%22 font-size=%2296%22>&#128480;</text></svg>">

        {% block includes %}
            <link rel="stylesheet" href="{{ asset('bootstrap@5.3/dist/css/bootstrap.min.css', 'jsdelivr') }}">
            <link rel="stylesheet" href="{{ asset('bootstrap-icons@1.11/font/bootstrap-icons.css', 'jsdelivr') }}">
            <script type="text/javascript" src="{{ asset('jquery@3.7', 'jsdelivr') }}"></script>
        {% endblock %}
    </head>
    <body>
        {{ include('inc/navbar.html.twig') }}
        {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <div class="container-fluid">
            {% block body %}
            <h3>{{ block('title') }}</h3>
            {% endblock %}
        </div>
        {% block bodyscripts %}
            {# see https://getbootstrap.com/docs/5.3/getting-started/introduction/ #}
            <script src="{{ asset('bootstrap@5.3/dist/js/bootstrap.bundle.min.js', 'jsdelivr') }}"></script>
        {% endblock %}
    </body>
</html>
