{% extends 'base.html.twig' %}

{% block title %}Transaction Editor{% endblock %}

{% block body %}
{{ parent() }}
{{ form_start(form) }}

<div class="row">
  <div class="col-md-4">{{ form_row(form.time) }}</div>
  <div class="col-md-4">{{ form_row(form.transaction_id) }}</div>
  <div class="col-md-4">{{ form_row(form.consolidated) }}</div>
  <div class="col-md-4">{{ form_row(form.cash) }}</div>
  <div class="col-md-4">{{ form_row(form.consolidation) }}</div>
  <div class="col-md-4">{{ form_row(form.interest) }}</div>
  <div class="col-12">{{ form_row(form.notes) }}</div>
</div>

<div>{{ form_errors(form) }}</div>

<div class="input-group mb-3">
{{ form_widget(form.save) }}
{{ form_widget(form.reset) }}
{{ form_widget(form.back) }}
</div>

{{ form_end(form) }}

<script>
$("#transaction_back").click(function() { history.back(); });
</script>

{% endblock %}
